numpy
appdirs==1.4.3
buildozer==0.39
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.1
Cython==0.29.14
docutils==0.15.2
idna==2.8
importlib-metadata==0.23
Jinja2==2.10.3
Kivy==1.11.1
Kivy-Garden==0.1.4
MarkupSafe==1.1.1
more-itertools==7.2.0
pep517==0.7.0
pexpect==4.7.0
ptyprocess==0.6.0
Pygments==2.4.2
pytoml==0.1.21
requests==2.22.0
sh==1.12.14
six==1.13.0
toml==0.10.0
urllib3==1.25.7
virtualenv==16.7.7
zipp==0.6.0
